.DS_Store
.env
.env.*.local

node_modules
dist
.output
.turbo
.vite

coverage

.idea
.vscode

pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.local

# Google Cloud service account keys (keep local)
keys/*.json


